/*coachManagement style*/
#coachManagement .col3 label, #members-persinfo .col6 label{ width:112px; color: #474747;}
.user-photo-holder{position: relative;}
.photo-cls{ position: absolute; right: -5px; top:-5px; cursor: pointer;}

/*Coach edit roles style*/
form#coachsearch .btn{ margin-left:0;}
.coach-search-sec{ padding:20px 0}
.coach-search-sec label{ display:block; float:left; line-height:30px; margin-right:10px;}
.coach-search-sec .select-custom{ margin-right:10px; float:left}
.coach-search-sec input[type="text"]{ width:40%;}
.coach-search-sec input[type="text"], .coach-search-sec input[type="button"],
.coach-search-sec input[type="submit"]{ float:right}
.coach-role-left {margin-left: -23px;}
