/*Login style*/
body {
    background: #0095ac url(../../images/logo.png) no-repeat 51% -15% / 20% auto;
}
.clear { clear: both; }
.loginpage { width: 100%; height: auto; min-height: 265px; margin: -132.5px auto 0; top: 50%; position: absolute; }
/* .log-content {
    background:url(../../images/movesmart/login_image.png) no-repeat 0 0;
    width:880px;
    height: 265px; margin: 0 auto; } */
/* .form-field { padding-left: 530px; } */


input[type="text"], input[type="password"] { 
    border: 1px solid #fff;
    display: block;
    font-size: 15px;
    margin-bottom: 9px;
    color: #fff;
    padding: 8px 15px;
    width: 89%;
    background: transparent;
    }

.login-error {
    text-align: center;
    background: rgba(0,0,0,0.3);
    padding: 5px;
}

.form-field h2{ font-size:30px; line-height:35px; color: #fff; text-align: center; margin-bottom:30px;}
.form-field form { margin: 20px 0 0 0; }
.form-field  input[type="submit"] {
    background: #363636;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    display: block;
    margin: 0 auto;
}

.log-content {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    /* 	background: #fff; */

    }

.loginlogo {
    display: none;
    }

.loginlogo a img {
    width: 80%;
    display: block;
    margin: 0 auto;
    }
