* { margin: 0px; padding: 0px;}
html, body { height:100%;}
@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/gothic.eot');
	src: local('Century Gothic'), url('fonts/gothic.woff') format('woff'), url('fonts/gothic.ttf') format('truetype');
}
body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:12px;
	color:#353535;
	line-height:normal;
	min-width:980px;
}
/*reset style*/
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table { margin:  0; font-weight:normal;}
a { text-decoration:none; color:#ffffff;}
a:hover { color:#ffffff; }
a:active { }
a:visited { }
img { border: 0px;}
ul, li { list-style:none; margin:0;}
table { border-spacing: 0; border-collapse: collapse;}
td { text-align: left; font-weight: normal;}

/*=-=-=-=Ipad-styles=-=-=-=-=-=*/
.mb10{ margin-bottom: 10px!important }
input,textarea{ border-radius: 0; }



/*comman style*/
.fl{ float:left;}
.fr{ float:right;}
.txt-center{ text-align:center;}
.txt-right{ text-align:right;}
.pink-color{ color: #e40043;}
.valigntop{ vertical-align:top;}
.clear { clear: both;}
.mb15{ margin-bottom:15px;}
.mb10{ margin-bottom:10px !important;}
.mb20{ margin-bottom:20px !important;}
.m0{ margin:0 !important;}
.mt20{ margin-top:20px;}
.mt40{ margin-top:40px !important;}
.bg-none { background:none !important;}
.pt100{ padding-top:107px !important;}
.pad20{padding:10px 0 !important}
.pad10{padding:10px 0 !important}
.w18{ width:18%;}
.ptb0{ padding-top:0 !important; padding-bottom:0 !important}
.pb0{padding-bottom:0 !important}
.pt5{ padding-top:5px !important}
.clearfix:before, .clearfix:after {  content: " ";  display: table;}
.clearfix:after {  clear: both;}
.clearfix { *zoom: 1;}
.row-sec:before, .row-sec:after { content: " ";  display: table;}
.row-sec:after { clear: both;}
.row-sec { *zoom: 1;}
.row-sec{ width:100%;}
.row-sec .col6:first-child, .row-sec .col4:first-child, .row-sec .col2:first-child{ margin-left:0;}
.lh-none{ line-height:inherit !important;}
.highlight-tr-data td{font-weight: bold;}
.col2{float:left; width:15.6%; margin-left:1%}
/*.col2 .form-control{  max-width: 50px;}
.col2 .select-custom{ max-width: 82px;}*/
.col2 label{max-width: 100%; width:100%}

.col6{ float:left; width:49.5%; margin-left:1%}
.col3{ float:left; width:25%; max-width: 360px;}
.col8{ float:left; width:75%; max-width: 1080px;}
.col8 .col3{ width:33.33333333333333%;}
.col4{ float:left; width:33.33333333333333%;}
.pos-fixed{ position:fixed; width:100%; z-index: 1; min-width:980px; left: 0 }
.pos-rel{ position:relative;}
.dotline-sep, .dotline-sepl{ background:url(../../images/movesmart/dotline-sep.png) repeat-y right; padding-right:5px;}
.dotline-sepl{ background-position:left 0; padding-left: 5px; padding-right:inherit}
.pr10{ padding-right:10px !important;}
.wid85{ width:85px !important;}
.maxwid450{ max-width:450px !important; width: 80%!important}
.col3 label{ width:100px;}
.col8 .row-sec, .form-control-groub .row-sec{ padding:5px 0}
.form-control-groub .col6{ width:50%; margin:0;}
.maxwid165{ max-width:165px !important;}
.wid540{ width:540px;}
.bor-top{ border-top:1px #cfcfcf solid}
.bor-bot{ border-bottom:1px #cfcfcf solid; padding-bottom:5px;}
.hide{ height:0!important; visibility:hidden !important;}
.pr12{ padding-right:12px !important;}
.pl12{ padding-left:12px !important;}
.lh20{ line-height:20px;}

.wid40{ width:40%;}
.clear-left-menu{ height:0 !important ; border:none !important} .clear-left-menu select{ border:none !important; height:0 !important ;}
.clear-left-menu .select-custom select{ height:0 !important; border:none;}

/*.new-test-icon{margin-left:25%}*/
input[type="text"], input[type="password"]{ font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	padding:4px 15px;	color:#353535;	border:1px #0095ac solid; outline:0; height:22px; border-radius: 0; }
textarea{ font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	padding:10px 15px;	color:#353535;	border:1px #0095ac solid; outline:0; height:60px;}
.btn{ font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size:14px; padding:0 15px; border:0;	outline:0; height:32px; cursor:pointer; margin-left:10px; line-height:28px;  -webkit-appearance: none; border-radius: 0 }
.btn-link, .icon,.quick_add_icon{ /*display:block;*/ width:27px; height:27px; cursor:pointer; }
.icon-graph{ display:block; width:40px; height:30px; cursor:pointer; }
.btn-inline{ display:inline-block;}
.black-btn{ background-color:#363636; color:#FFFFFF}
.black-btn:hover{ background-color:#000}
label{ display:block; line-height:30px; margin-right:10px;}
.form-control{ max-width: 155px; width: 100%;}
.input-group{ max-width: 186px; width: 100%; float:left; display:inline-table;}
.input-group .input-control{width: 98px;}
.input-group .input-appon{  border: 1px solid #d1d1d1; color: #353535; display: block;    height: 29px; outline: 0 none;  padding: 2px 5px;  width: 34px; text-align:center; line-height:29px; float: left;}
.input-group .input-appon:hover{ color:#e40043}
.input-group .input-appon .icon{ display:block; margin: auto;}
.input-group .in-cell{display:table-cell;  vertical-align: top;}
.input-group .in-cell:first-child{ padding-right:10px;}
.input-group .select-custom.form-control { max-width: 130px;  width: 130px}
.small-sc{ width:58px !important;}
.small-sc select{ width:58px !important}
.icon-only-btn{border: 1px solid #d1d1d1; height: 32px; text-align: center; width: 38px;}
.col4 label{ display:block; float:left; line-height:30px; margin-right:10px; width: 130px;}
.col4 input[type="text"]{ width:50%!important; margin-right:10px; max-width:250px; }
.col4 .select-custom{width:60%; margin-right:10px; max-width:280px; }
.col4 .select-custom select{ width:100%;}
.add-more-fld .form-control{ width:110px; float:left}
.add-more-fld .fld-box{ float:left; width:40px; height:33px; /*border: 1px solid #d1d1d1;*/ margin-left:7px}
.add-more-fld .select-custom{ max-width:140px;}
.add-more-fld .select-custom select{ width:100%;}

/*Custom Select*/
/*.select-custom { border: 1px solid #cecece; background:url(../../images/movesmart/cus-drop-arrow.png) no-repeat #fff;  }*/
.select-custom { background-position: right center!important; height: 30px; vertical-align: top; width:156px; }
.select-custom select { box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid #0095ac; position: relative; /*opacity: 0;*/ width:186px; height:30px; cursor:pointer; margin-left:-1px;}
/*.select-custom:before { content: attr(title); display: inline-block; position: absolute; white-space: nowrap; padding: 7px 11px; overflow: hidden; font-size:12px; z-index: 999999; }
*/.select-custom.inline { display: inline-block; }
.select-custom.inline:before { width: auto; }
.select-custom { max-width: 186px; width: 100%; float:left}
.form-control select{ width:100%;}
.select-custom select option{ border-left-color:red;}

/*Custom Checkbox*/
.cus-check { padding-left:0;}
.cus-check input[type=checkbox].oxy + label, .cus-check input[type=radio].oxy + label { display: inline; padding: 3px 15px 3px 30px; cursor: pointer; color: #222; }
.cus-check input[type="radio"], .cus-check input[type="checkbox"]{ visibility:hidden; position: absolute;}
.cus-check label{ color:#5a5a5a; font-size:12px; width:inherit !important; float:none;}
.cus-check input[type=radio].oxy + label{background: url(../../images/movesmart/off.png) no-repeat 0 0;}
.cus-check input[type=checkbox].oxy + label{background: url(../../images/movesmart/check-off.png) no-repeat 0 0; background-size: 39px 32px; height:32px;  display: block; padding: 0px 15px 0px 50px;}
.cus-check input[type=checkbox]:checked.oxy + label { background-image: url(../../images/movesmart/check.png); background-size: 39px 32px; }
.cus-check input[type=radio]:checked.oxy + label { background-image: url(../../images/movesmart/radio.png); }
.cus-check label.check-text-hide{ width:40px !important; padding: 0 !important; width: 40px !important; height:40px; overflow:hidden; text-indent: -999px; float: left;}
.cus-check input[type=checkbox].oxy.oxy-small + label{background: url(../../images/movesmart/check-off-small.png) no-repeat 0 4px; height:24px; line-height:24px; display: block; padding: 0 15px 0 26px;}
.cus-check input[type=checkbox]:checked.oxy.oxy-small + label { background-image: url(../../images/movesmart/check-small.png); }

/*Custom File Browser Button*/
.fileUpload { position: relative; overflow: hidden; width:139px; text-align:center;}
.fileUpload span{ line-height:32px;}
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0;	padding: 0;	font-size: 20px; cursor: pointer;	opacity: 0;	filter: alpha(opacity=0);}

.icon_spacer { margin-right: 10px; }

.icon-graph,.icon-shrink,.icon-straight,.icon-both{ display:block; background:url(../../images/movesmart/icons-graph.png) no-repeat 0 0;}
.icon-shrink{ background-position:-60px -32px;}
.icon-shrink:hover{background-position:-106px -32px;}
.icon-straight{ background-position:-60px -67px;}
.icon-straight:hover{background-position:-106px -67px;}
.icon-both{ background-position:-60px -102px;}
.icon-both:hover{background-position:-106px -102px;}
.icon-rightshift{ background-position:-110px -244px; }
.icon-leftshift{ background-position: -112px -208px; }


.icon-assign{ background:url(../../images/movesmart/assign.png) no-repeat;}
.icon-set{ background-position:0 0}
.icon-set:hover{background-position:-27px 0}
.icon-close{ background-position:0 -27px}
.icon-close:hover{background-position:-27px -27px}
.icon-save{ background-position:0 -54px}
.icon-save:hover{ background-position:-27px -54px}
.icon-useredit{ background-position:0 -81px}
.icon-useredit:hover{ background-position:-27px -81px}
.icon-useadd{background-position:0 -108px}
.icon-useadd:hover{background-position:-27px -108px}
.icon-view{background-position:0 -135px}
.icon-view:hover{background-position:-27px -135px}
.icon-edit{background-position:0 -162px}
.icon-edit:hover{background-position:-27px -162px}
.icon-arr-left{background-position:0 -189px}
.icon-arr-left:hover{background-position:-27px -189px}
.icon-arr-right{background-position:0 -216px}
.icon-arr-right:hover{background-position:-27px -216px}
.icon-set-white{background-position:0 -243px}
.icon-set-white:hover{background-position:-27px -243px}
.icon-logout{background-position:0 -270px}
.icon-logout:hover{background-position:-27px -270px}
.icon-useminus{background-position:0 -297px}
.icon-useminus:hover{background-position:-27px -297px}
.icon-rscard{background-position:0 -324px}
.icon-rscard:hover{background-position:-27px -324px}
.icon-wscard{background-position:0 -351px}
.icon-wscard:hover{background-position:-27px -351px}
.icon-print{background-position:0 -378px}
.icon-print:hover{background-position:-27px -378px}
.icon-search{background-position:0 -405px}
.icon-search:hover{background-position:-27px -405px}
.icon-mail{background-position:0 -540px}
.icon-mail:hover{background-position:-27px -540px}
.icon-arrlast{background-position:0 -432px}
.icon-arrlast:hover{background-position:-27px -432px}
.icon-arrnext{background-position:0 -459px}
.icon-arrnext:hover{background-position:-27px -459px}
.icon-arrpre{background-position:0 -486px}
.icon-arrpre:hover{background-position:-27px -486px}
.icon-arrfirst{background-position:0 -513px}
.icon-arrfirst:hover{background-position:-27px -513px}
.icon-perinfo{background-position:0 -567px}
.icon-perinfo:hover{background-position:0 -567px}
.icon-put-in-waitinglist{ background-position:-216px -567px;}
.icon-put-in-waitinglist:hover{ background-position:-243px -567px;}
.icon-cardio-print{ background-position:-162px -567px;}
.icon-cardio-print:hover{ background-position:-189px -567px;}
.icon-cardio-send{ background-position:-162px -542px;}
.icon-cardio-send:hover{ background-position:-189px -542px;}




.icon-down{ background-position:0 -27px;}
.icon-down:hover{background-position:-27px -27px;}
.icon-up{ background-position:0 0;}
.icon-up:hover{ background-position:-27px 0;}
.icon-addplus{ background-position:-56	px 0;}
.icon-addplus:hover{  background-position:-83px 0;}
.icon-showedit{ background-position:-54px -27px;}
.icon-showedit:hover{ background-position:-54px -27px;}
.icon-coachmng{ background-position:-54px -243px;}
.icon-cls-sm{ background-position:-54px -270px;}
.icon-cls-sm:hover{background-position:-81px -270px;}
.icon-medi-info{ background-position:-54px -297px;}
.icon-train-pro{ background-position:-54px -297px;}
.icon-hr{background-position:-55px -352px;}
.icon-hr:hover{background-position:-82px -352px;}
.icon-evol{background-position:-54px -378px;}
.icon-train-work{background-position:-54px -406px;}
.icon-test-result{ background-position:-54px -431px;}
.icon-test-histry{ background-position:-54px -460px;}
.icon-popupcls{background-position:-55px -484px;}
.icon-popupcls:hover{background-position:-82px -484px;}
.icon-arr-first{background-position:-54px -513px;}
.icon-arr-first:hover{background-position:-81px -513px;}
.icon-arr-last{background-position:-54px -540px;}
.icon-arr-last:hover{background-position:-81px -540px;}
.quick_add_icon{background-position:-54px 0px}
.quick_add_icon:hover{background-position:-81px 0px;}
.icon-back{background-position:-54px -566px;}
.icon-back:hover{background-position:-81px -566px;}
.icon-next{background-position:-109px -81px}
.icon-next:hover{background-position:-136px -81px;}
.icon-lmolist{background-position:0 -351px}
.icon-lmolist:hover{background-position:-27px -351px}
.new-test{background-position:-108px -1px;}
.new-test:hover{background-position:-135px -1px;}
.reanalyze-test{background-position:-53px -106px;}
.reanalyze-test:hover{background-position:-80px -106px;}
.cancel-test{background-position:-108px -459px;}
.cancel-test:hover{background-position:-135px -459px;}
.sportmed-graph-test{background-position:-107px -512px;}
.sportmed-graph-test:hover{background-position:-135px -512px;}
.pdf-download{background-position:-162px -512px;}
.pdf-download:hover{background-position:-189px -512px;}
.heartrate-graph-test{background-position:-54px -459px;}
.heartrate-graph-test:hover{background-position:-81px -459px;}
.point-achieve-test{background-position:-162px 0px;}
.point-achieve-test:hover{background-position:-189px 0px;}
.stop-reset-test{background-position:-108px -485px;}
.stop-reset-test:hover{background-position:-135px -485px;}
.last-test{background-position:-108px -29px;}
.last-test:hover{background-position:-135px -29px;}
.add-edit{background-position:-108px -55px;}
.add-edit:hover{background-position:-135px -54px;}
.icon-lmo{background-position:-108px -162px;}
.icon-lmo:hover{background-position:-135px -162px;}
.icon-lmo-edit{background-position:-108px -135px;}
.icon-lmo-edit:hover{background-position:-135px -135px;}
.icon-bio-test{background-position:-108px -297px}
.icon-bio-test:hover{background-position:-135px -297px;}
.icon-medical-test{background-position:-108px -270px}
.icon-medical-test:hover{background-position:-135px -270px;}
.icon-func-test{background-position:-108px -244px}
.icon-func-test:hover{background-position:-135px -244px;}
.icon-strength-test{background-position:-162px -486px}
.icon-strength-test:hover{background-position:-189px -486px}

.icon-cardio-test{background-position:-108px -190px}
.icon-cardio-test:hover{background-position:-135px -190px;}
.icon-body-composition-test{background-position:-108px -217px}
.icon-body-composition-test:hover{background-position:-135px -217px;}
.icon-graph-next{background-position:-108px -377px;}
.icon-graph-next:hover{background-position:-135px -377px;}
.icon-graph-pre{background-position:-108px -404px;}
.icon-graph-pre:hover{background-position:-135px -404px;}
.icon-toggle{background-position:-108px -431px;}
.icon-toggle:hover{background-position:-135px -431px;}
.icon-biotest-add{background-position:-108px -540px;}
.icon-biotest-add:hover{background-position:-135px -540px;}
.icon-medicaltest-add{background-position:-162px -324px;}
.icon-medicaltest-add:hover{background-position:-189px -324px;}
.icon-functionalitytest-add{background-position:-162px -269px;}
.icon-functionalitytest-add:hover{background-position:-189px -269px;}
.icon-cardiovascular-add{background-position:-108px -190px;}
.icon-cardiovascular-add:hover{background-position:-135px -190px;}
.icon-body-composition-test-add{background-position:-162px -378px;}
.icon-body-composition-test-add:hover{background-position:-189px -378px;}






.icon-zoom{background-position:-162px -31px; margin-right: 7px;}
.icon-zoom:hover{background-position:-189px -31px;}
.icon-hr{background-position:-162px -56px;}
.icon-hr:hover{background-position:-189px -56px;}
.icon-sport{background-position:-162px -84px;}
.icon-sport:hover{background-position:-189px -84px;}
.icon-doubl{background-position:-162px -111px;}
.icon-doubl:hover{background-position:-189px -111px;}

.icon-datepiker{ background:url(../../images/movesmart/date-icon.png) no-repeat right center;}

.dwonload-icon{background:url(../../images/movesmart/download.png) no-repeat right center; width: 32px; height:27px;}



.set-permission{ position:relative; margin-left:-10px; margin-top:10px; text-align: center; }
.set-permission li{ display:inline-block; width:150px; margin:10px; /* float:left; */ border:1px solid #0095ac; padding:20px; cursor:pointer}
.set-permission li:hover{-webkit-box-shadow: 3px 9px 19px -10px rgba(0,0,0,0.42);
-moz-box-shadow: 3px 9px 19px -10px rgba(0,0,0,0.42);
box-shadow: 3px 9px 19px -10px rgba(0,0,0,0.42); }
.set-permission li a{  display:block; text-align:center; font-size:14px; color:#353535; }
.set-icon{ width:65px; height:65px; margin:0 auto; display:block;}
.sp-icon-manage{ background-position:0 0;}
.sp-icon-per{ background-position:0 -65px;}
.sp-icon-club{ background-position:0 -130px;}
.sp-icon-plan { background-position: 0 -195px;}

/*layou style*/
.pagewrapper { position:relative; min-height:100%; height:100%; height:auto !important; overflow:hidden; width: 100%;}
.con-sec{ margin:0 24px;}
.content-wrapper{ padding-bottom:25px; position:relative;}
.footer{position:absolute; bottom:0; height:25px; width:100%;}
.footer p{font-size:11px; padding:5px 24px; }

.header{ height:40px; width:100%; position:fixed; z-index:10; min-width:auto}
.header .head-left{	float:left; width:210px; margin-left:24px; overflow:hidden;}
.header .head-left .logo{ background:#ffffff; height:40px; float:left; -webkit-box-shadow: -1px -3px 17px 0px rgba(50, 50, 50, 0.67);	-moz-box-shadow:    -1px -3px 17px 0px rgba(50, 50, 50, 0.67);	box-shadow:         -1px -3px 17px 0px rgba(50, 50, 50, 0.67);}
.header .head-left .nav-toggle{	position: relative;	float:left;	padding: 13px 13px;	border:none; outline:none;	cursor:pointer;	text-transform:none; height:40px; width: 48px; text-align: center;}
.header .head-left .nav-toggle:hover, .nav-active{ opacity:0.5; background:url(../../images/trans-bg.png) !important;}
.header .head-left .nav-toggle .icon-bar{ display: block; width: 16px; height: 2px;	background-color:#ffffff; outline:none;	border:none; margin-left: auto; margin-right: auto;}

.header .header-club-name-disp {color: #ffffff; font-size: 14px; position: relative; padding-top: 10px; float: left;}

.nav-toggle .icon-bar+.icon-bar { margin-top: 3px;}
.header .head-right{ float:right; margin-right:0;}
.nav-link li{ float:left; background:url(../../images/nav-seprator.png) no-repeat 0 16px;}
.nav-link li:first-child{ background-image:none;}
.nav-link li > a{ display:block; color:#ffffff; font-size:14px; padding:0 14px; margin-top:12px; overflow: hidden;}
.nav-link li > a span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s;}
.nav-link li > a span::before { position: absolute; top: 100%; content: attr(data-hover);	font-weight: 500; -webkit-transform: translate3d(0,0,0);	-moz-transform: translate3d(0,0,0);	transform: translate3d(0,0,0);}
.nav-link li > a:hover span, .nav-link li > a:focus span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%);	transform: translateY(-100%);}
.user-photo{ width:35px; height:35px; border-radius:50%; cursor:pointer; float:left; margin-top: 3px;}
.user-name { padding:8px 5px 0 10px;  background:url(../../images/trans-bg.png) repeat-y !important; height: 32px; padding-top: 8px;}
.user-name h3{ color:#000; font-size:12px;line-height: 12px;}
.user-name h4{ color:#fff; font-size:12px;line-height: 12px;}

/*User setting style */
.nav-link li.user-set-pointer{ height: 40px; padding: 0 5px; background-image:none; cursor:pointer; width:35px;}
.nav-link li.user-set-pointer .user-lang{ color:#fff; padding:0 2px 0 12px; font-size:13px}
.user-set-holder{ right:0; top: 40px; width:200px; padding:0 5px 8px 5px; position:absolute; /*height:116px;*/ z-index:100; color:#fff; display:none;}
.user-set-holder .lang-chose{ margin-top:7px;}
.user-set-holder a{ margin:0 !important;}
.user-set-holder .lang-chose a{ color:#fff; display:inline-block; padding:0 8px;  background:url(../../images/movesmart/nav-seprator.png) no-repeat 0 4px; text-align:center}
.user-set-holder .lang-chose a:first-child{ background:none;}
.user-set-holder .row-sec{ padding:6px 0 3px;}
.user-set-holder .row-sec .col6.left{ width:110px; padding-left:5px;}
.user-set-holder .row-sec .col6.right{ width:102px; padding-right:5px;}
.user-set-holder .row-sec:first-child{ border:none;}
.user-set-holder .row-sec p{ line-height:30px;}
.user-set-holder .row-sec:hover{transition-duration: 0.3s; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
.user-set-holder .btn-link.fr{margin-right:5px !important}
.your-profile, .logout{ display:block; padding:0 10px 0 5px; overflow:hidden; line-height:28px;}

.your-profile:hover .icon-set-white{background-position:-27px -243px}
.logout:hover .icon-logout{background-position:-27px -270px}

.left-menu-sec{ width:218px; position:fixed; top:40px; bottom:0; padding:0 6px; z-index:1; left:-230px}
.left-menu { margin-top:20px;}
.left-menu li a{ color:#ffffff; padding:20px 0 20px 55px; display:block; font-size:14px}
.left-menu li a.active ul{ margin-top:-15px;}
.left-menu ul li a{ padding:5px 0 5px 55px; font-size:12px; color:#a4a4a4}
.left-menu > li{ border-bottom:1px solid #4a4a4a;}
.left-menu li ul{ display:none; margin-bottom:5px;}

.con-title-sec{ margin:0 0 0 24px; padding:15px 0 10px 0; border-bottom:1px #d1d1d1 solid; overflow:hidden; background-color:#fff;}
.con-title-sec h1{ float:left; font-size:20px; margin-top: 10px;}
.con-title-sec h1 .icon{ margin-right:10px; margin-bottom:-5px;}
.con-title-sec h1 .icon-set:hover{background-position:0 0}
.con-title-sec .user-features{ float:right; padding-right:19px; width:69%; margin-right: 24px;}
.con-title-sec .user-features form{ display:block; float:right; width:240px;}
.con-title-sec .user-features form label{ display:block; float:left; line-height:30px; margin-right:10px;}
.con-title-sec .user-features form .select-custom{ float:left; width:auto}
.con-title-sec .user-features form .select-custom select{ width:156px;}
.con-title-sec .user-features ul{ overflow:hidden; margin-top:10px; float:right;}
.con-title-sec .user-features ul li{ float:left; margin:0 3px;}
.con-title-sec .user-features ul li ul{ margin:0;}


.user-features-nav{ padding-right:19px; width:200px; margin-right: 24px; margin: 0 auto;}
.user-features-nav ul{ overflow:hidden; margin-top:10px; }
.user-features-nav ul li{ float:left; margin:0 3px;}
.user-features-nav ul li ul{ margin:0;}


/*Tab Cotrol style*/
ul.tabs:after {	clear: both; content: " "; display: block;}
ul.tabs li { color: #4D515F; cursor: pointer; float: left; font-size: 14px;	margin: 0 2px 0 0;	min-width: 84px; text-align: center;	border: 1px #dfdfdf solid;	background-color:#dfdfdf;}
ul.tabs li a { display:block; padding: 6px 10px; color:#363636}
ul.tabs li:hover{ background: #cfcfcf;border: 1px #c2c2c2 solid;}
ul.tabs li.current a{	color: #FFFFFF !important;}
ul.tabs li:hover a { color: #0e0e0e;}
.tabs-container { padding: 18px; border: 1px #cccccc solid;	border-top: 0px #98A205 solid;}
.tabs-container > div{ display:none;}
.tabs-container > div:first-child{ display:block;}

/*Inner Tab Cotrol style*/
ul.innertab { border-bottom: 4px solid #363636;}
ul.innertab:after {	clear: both; content: " "; display: block;}
ul.innertab li { color: #4D515F; cursor: pointer; float: left; font-size: 14px;	margin: 0 2px 0 0;	min-width: 84px; text-align: center;	border: 1px #dfdfdf solid;	background-color:#dfdfdf;}
ul.innertab li a{ display:block; padding: 6px 10px; color:#363636}
ul.innertab li.innercurrent , ul.tabs li.innercurrent:hover{ background: #363636; color: #FFFFFF;	border: 1px #363636 solid;}
ul.innertab li:hover{ background: #363636; border: 1px #363636 solid;}
ul.innertab li.innercurrent a{	color: #FFFFFF !important;}
ul.innertab li:hover a { color: #FFFFFF;}

/*Grid Block style*/
.grid-block { border-left: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; overflow-x: scroll }
.grid-block td { padding: 5px 10px; border-top: 1px solid #cfcfcf;	border-right: 1px solid #cfcfcf; color: #647074; font-size: 12px; height: 20px;}
.grid-block tr:hover{ cursor:pointer; background-color:#f7f7f7;}
.grid-block tr:nth-child(odd){background-color:#ffffff;}
.grid-block tr:nth-child(even){background-color:#f7f7f7;}

.grid-block .grid-title{ background-color: #f0f0f0 !important;	}
.grid-block .grid-title td {color: #010101;	font-size: 13px; padding: 8px 10px; font-weight:bold;
position:relative;}
.grid-block .grid-title td a{color: #010101;}
.grid-block .grid-title td .spinner{ width:20px; height:30px; position:absolute; right:5px; top:50%; margin-top:-15px; display:block;}
.grid-block .grid-title td .spinner a{ color: #010101; display:block; background:url(../../images/movesmart/spinner-arrow.png) no-repeat right top; width:20px; height:15px; outline:0; border:none;}
.grid-block .grid-title td .spinner a.spi-arr-up{ background-position:5px 5px}
.grid-block .grid-title td .spinner a.spi-arr-up:hover,.grid-block .grid-title td .spinner a.spi-arr-up.active{background-position:5px -35px;}
.grid-block .grid-title td .spinner a.spi-arr-down{ background-position:5px -7px}
.grid-block .grid-title td .spinner a.spi-arr-down:hover,.grid-block .grid-title td .spinner a.spi-arr-down.active{ background-position:5px -47px}
.grid-block .btn-link{ margin:0 auto}

/*pagination style */
.pagination{ padding:15px 0 0; overflow:hidden}
.pagination .page-list{ float:right; overflow:hidden;}
.pagination .page-list a{ border:1px #cecece solid; float:left; margin:0 2px; text-align:center; line-height:26px; color:#000;}
.pagination .page-list span{ display:inline-block; margin:5px 0 0 0; border-right:1px #cecece solid; padding:0 10px;}
.pagination .page-view{ float:right; width:123px;}
.pagination .page-view label{ display: inline-block; float: left; line-height: 28px;  padding: 0 10px;}
.pagination .page-view .select-custom{ width:60px; float:left;}
.pagination .page-view .select-custom select{ width:62px;}

/*Accordion style */
.accordion-holder h2 , .accordion-holder h3 { font-size:18px; color:#222222; padding:10px 0; position:relative; cursor:pointer; border-bottom:1px solid #d1d1d1; line-height:inherit; margin-bottom:10px;}
.accordion-holder h2 .icon , .accordion-holder h3 .icon{ position:absolute; right:0; top:12px;}
.accordion-holder h2:hover .icon-down, .accordion-holder h3:hover .icon-down{ background-position:-27px -27px;}
.accordion-holder h2:hover .icon-up, .accordion-holder h3:hover .icon-up{ background-position:-27px 0;}
.accordion-holder .acc-row { padding-bottom:5px;}
.accordion-holder h3 .icon{ top:0;}
.accordion-holder h3{ font-size:14px;  line-height: 20px;}

/*user photo style*/
.user-photo-holder{width:158px; padding-left: 18px; margin-top: 4px;}
.user-photo-holder .user-up-photo{ padding:5px; border:1px #cecece solid; width:146px; height:130px; overflow:hidden; margin-bottom:10px;}
.user-photo-holder .btn{ padding:0 8px; margin:0; float: left;}
.user-photo-holder .fileUpload{	margin-right: 10px !important;}

/*custom table style*/
.table { width: 100%; display: table; }
.table-row { width: 100%; display: table-row; }
.table-cell { display: table-cell; padding: 7px 0 8px; white-space:nowrap; }
.table .col3 { width: 33.333333%; max-width: inherit; }
.table label { max-width: 120px; width: 100%; float: left; line-height: 28px; }
.table .cus-check label { max-width: inherit; }
.table input[type="text"] { padding: 5px 15px; height: 16px; max-width: 220px; width: 100%; float: left; }
/*btn*/
.common-btn{padding:0 15px; height: 35px; line-height:35px; display:inline-block;}
.common-btn a{color:#fff;}
.sms-fld .form-control{width: 110px;}
.sms-fld .sms-txt{ display: inline-block; color: #353535; text-decoration: underline; font-size: 11px; padding: 5px; text-transform: uppercase;}
.sms-fld .sms-txt:hover{color:#e40043}


/*Popup style*/
.show-popup{}
.popup-mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; /* background: rgba(255, 255, 255, 0.5); */   background:rgba(0, 0, 0, 0.39); display:none }
.popup-holder{ position:fixed;  background: #fff; display:none; z-index: 100; top:50%; left:50%; min-width: 575px; min-height: 244px;}
.popup-holder.change_club_center{top: 25%; left: 30%;}
.popup-holder .icon-popupcls { position: absolute; top: 3px; right: 20px; width: 24px; height: 28px; text-indent: -9999px; }
.popup-header {height: 38px; padding: 0 24px; background: #353535;}
.popup-header h2 { display: block; margin: 0; line-height: 35px; color: #fff; font-size: 18px; }
.popup-holder .pop-content{ padding: 24px; position: relative;}
.popup-holder .pop-content h3{ font-size:20px; border-bottom:1px solid #d1d1d1; padding-bottom:5px;}
.small-popup{min-width: 358px; min-height:156px; margin-left:-179px; margin-top:-250px}
.large-popup{bottom: 10px;left: 10px !important;margin: 0;right: 10px;top: 10px;}
.mid-popup{min-width: 575px; min-height: 244px;}
.close_link_container {width: 100px; float: right; height: 36px;}

.cus-combobox .custom-combobox-input{height:22px;font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; padding:4px 15px; font-weight:normal;border-radius:0;color:#353535;outline:0; width:100%; max-width: 155px;}
.custom-combobox{float:left;}
.cus-combobox .ui-widget-content{ background:#fff; background-image:none;}
.cus-combobox .custom-combobox-toggle{ border-radius: 0; border-left: 0; height: 33px; /*background:url(../../images/movesmart/cus-drop-arrow.png) no-repeat 6px 12px #fff;*/ background-color:#fff;}
.cus-combobox .custom-combobox-toggle span{ display:none;}
.cus-combobox .custom-combobox-toggle:hover{ border-color:#d1d1d1 ;}
.cus-combobox .ui-button{ vertical-align:top;}
.ui-autocomplete.ui-widget-content{ border-color:#d1d1d1; background:#fff; width:100%; height:auto}
.ui-autocomplete.ui-widget-content .ui-menu .ui-menu-item{ padding:5px 8px;}
.ui-autocomplete.ui-widget-content .ui-state-focus{ border:none; background:#e40043; color:#fff; font-weight:normal;}
.ui-autocomplete.ui-widget-content .ui-tooltip-content { display:none !important;}
.cus-add-fld input[type="text"], .cus-add-fld .custom-combobox-input{ width: 110px;}
.cus-add-fld  .puls-box{ display: inline-block; position: relative; border:1px solid #d3d3d3; text-align: center; width: 36px; height: 30px;	 cursor:pointer; margin-left:7px; float: left	}
/* Albert */
.ui-menu .ui-state-focus { margin: 0 !important; }
#dummy { height: 0; border: 0; }
/*.autoselectfld .custom-combobox input.custom-combobox-input { width: 126px; }*/
.custom-combobox a.custom-combobox-toggle{display:none;}
.ui-menu .ui-menu-item:nth-child(even) { background: #E8E8E8; }
.ui-menu .ui-menu-item:nth-child(even).ui-state-focus{ background:#e40043; }
.grid-block tr:hover { cursor: default; }

/* Ajax page loader begins */
#pageLoader{display:none;background:url("../../images/loader.gif") no-repeat scroll 0 0 / 100% auto ;height: 100px;width: 100px;position: fixed;z-index: 999999;left: 50%;top: 50%;margin: -25px 0 0 -25px;}
#pageLoaderLightBox {display: none; height: 100%; width: 100%; position: fixed; z-index: 99999; background:url("../../images/white-overlay.png"); }
/* Ajax page loader ends */

/* Quick add popup */
/*.quick_add_pop_disp {display: none; margin-left:-263px; margin-top:-178px;}
.quick_pop_content .table-cell{ vertical-align:middle;}
.quick_pop_content label{ line-height:18px;}
.quick_pop_content .input-group{ max-width:100%;}*/
/* Quick add popup */

/*Quick add icon */
/*.quick_add_icon{position:relative; float: right; font-size: 45px;cursor: pointer; left: -15px; top: -8px; color: #999; background:url('../../images/movesmart/quick_add.png') no-repeat; height: 32px; width: 32px;}*/

/*Add Quick Pop Up Field */
.ajaxMsg{font-size:10px;padding:5px 0px;color:#f00;font-weight: bold; }

/* Flash message */
.pageFlashMsg { padding-top: 8px; height: 20px; width: 40%; text-align: center; }
.pageFlashMsg.success { background-color: #EDFCED; color: #609021; border: 2px solid #71A240; font-weight: bold; font-size: 11px;}
.pageFlashMsg.error { background-color: red; color: #ffffff;}
.success div{float:left;}.cussuccess-icon{padding:0px 2px 0px 10px;}
.pageFlashMsg{margin-top:10px;}
.success img{width:15px; height:15px;}
  
/* Flash message */
.pointer{cursor:pointer;}
.add-menu label{ width:112px;}

/* txt-bx-read only hightlight color */
.txt-bx-readonly {background-color: #f0f0f0;}
.float-left{float:left;padding-left:6%;}.float-right{float:right;padding-right:6%;}
.sportMedGraph #heartRateGraph.float-left{/*padding-top: 2.6%;*/}
.heartRateGraph #sportMedGraph.float-right{/*padding-top: 2%;*/}
.bottom-icon-graph ul{margin-left:48%;margin-right:auto;text-align:center;}
.bottom-icon-graph ul li{float:left;}
.hint{ color:#f00; font-size:10px; line-height:14px; font-family:Verdana, Geneva, sans-serif; max-width: 160px }

#testScreen .black-btn.common-btn{ margin-left:0;}


.flash.success:before{
	content: "\00a0\00a0\00a0\00a0\00a0";
	background: url("../../images/movesmart/tick_success.png") no-repeat;
	float:left;
}

.flash.error:before{
	content: "\00a0\00a0\00a0\00a0\00a0";
	background: url("../../images/movesmart/delete-image.png") no-repeat;
	float:left;
}
.flash.error{
	background-color:#f00;
	border: 2px solid #f00;
}
.flash.success{
	background-color: hsl(120, 71%, 96%);
	border: 2px solid hsl(90, 43%, 44%);
}
.flash {
	color: hsl(86, 63%, 35%);
	font-size: 11px;
	font-weight: bold;
	width:35%;
	padding:5px 5px;
	text-align:left;
}

.align-center{
  text-align:center;
}

.grid-width{
   width:8%;	
}

.lom_shoutdown_text { text-align: justify; font-size: 13px;}

#flashMsg.success-msg,#flashMsg.failure-msg{ position:fixed; right:0; left:50%; top:80px; min-height:40px; background:#ddffb9; border:1px solid #a3e959; color:#79B836; z-index: 9999999; width:600px; margin-left:-300px; font-size:14px; text-align:center; line-height:40px;}

#flashMsg.failure-msg{ background:#ffbaa7; border:1px solid #f08078; color:#B0170C;}

.mangpointstext{ line-height:30px; font-weight: bold;}
.mangpointstext b { color: red;}

.strength-machine-top{ width:45%; text-align:right; padding-bottom:10px; }

.strength-machine-left{ width:24%; float:left; padding-bottom:3px; }	


.strength-machine-center{ width:10%; float:left; margin-top:12px; line-height:23px; }

.strength-machine-right{ width:45%; float:left; }

/* validation alert message style */
.popup-mask-alert{ display:none; }
.com-alert-msg{display:none; position:fixed; right:0; left:50%; top:80px; min-height:40px; background:#fff; border:1px solid #d1d1d1; color:#B0170C; z-index: 999; width:400px; margin-left:-200px; font-size:14px; line-height:40px; padding:4px}
.com-alert-msg h2{ font-size:16px; color:#fff; padding:0 10px}
.com-alert-msg .icon-popupcls { position: absolute; top: 8px; right: 12px; width: 24px; height: 28px; text-indent: -9999px; }
.com-alert-msg .icon-popupcls:hover{ background-position:-55px -484px; opacity:0.7;}
.alert-content{  max-height:200px; overflow-y:auto; padding:6px 0;}
.alert-content div{ color:#000; line-height: 20px; padding: 4px 10px;}
.move_right{ cursor:pointer;}
.move_left{ cursor:pointer;}

.login-error { color: red; display: none; margin-bottom: 5px;}
.float-none{float:none !important;}

/* graph container */
.graph-view { height1:445px;width:660px; float:left; margin-right:50px;}
.graph-holder{ overflow:hidden;}
.graph-result .form-control{ float:left; margin-right:15px; margin-bottom:15px;}
.graph-result .form-control.max-wid{ max-width:40px;}
.graph-result .form-control.max-wid90{ max-width:90px;}
.graph-result .form-control.dob{ max-width:75px;}
.graph-result .btn  { margin-left:0;}
.graph-view-btn{overflow: hidden; width: 225px; float:left; /*float: right; position: relative; margin-top: -50px;*/}

#testScreen  {padding-bottom: 0;}
#testScreen .pt100{padding-top: 104px !important;}

.page-info-toggle-btn{float:right;}

.top-link-spacer { margin-right: 3px;	margin-left: 3px; }

.activity_row_popup { margin: 5px; }

.body-compo-test{width: 50%;}
.body-compo-test.table label{ line-height: 15px;}
.body-compo-test.table .table-row label:first-child{ font-weight:bold;}

.strength-custom-check { width:20px; height: 20px; margin-top: 7px; margin-right: 10px; cursor: pointer;}
.strength-custom-check-label { width:auto !important; }
.strength-program-row-sel td{ color:#e40043 !important; }
.strength_program_row {cursor: pointer !important;}


 .icon-hide{display:none}
 
 
 
.iant-hr .table-cell span{ display: inline-block; margin: 5px 2px }
#testResultForm label{ width: 105px }
#bioMetricTestForm .grid-block .biometric .form-control,#functionalityTestForm .grid-block .biometric .form-control{ width: 60% }
#bioMetricTestForm .grid-block .biometric textarea,#functionalityTestForm .grid-block .biometric textarea{ width: 88%!important }
.inactive{ position: relative }
.inactive .inactive-blocker{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 999; }
#testForm .grid-block table input{ width: 70px }
#testForm .grid-block table textarea{ width: 80%!important }

.point-grid{ overflow:hidden;}
.point-grid-left{ width:49.5%; padding-right:0.5%; float:left;}
.point-grid-right{ width:49.5%; padding-left:0.5%; float:left;}

 @media (max-width:1140px){
 	.col4 label{ width: 105px; line-height: 18px }
	.right-block{ width:69% !important;}
	#evolution-fitlevel table.biometric input,#evolution-fitlevel table.biometric select{ max-width: 110px; }
	#evolution-fitlevel #functionalityTestForm table.biometric input,#evolution-fitlevel #functionalityTestForm table.biometric select{ max-width: 80px; }
	#evolution-fitlevel #functionalityTestForm table.biometric textarea{ max-width: 80%; }
	.bodyComposition input.form-control,.bodyComposition select{ width: 80% }
	#frmManagePoints .col4 label{ max-width: 110px }
 }
 @media (max-width:1089px){
 	#members-persinfo .tabs-container .table{ display: inline; }
	#members-persinfo .tabs-container .table .table-row{ display: inline; }
	#members-persinfo .tabs-container .table .table-cell{ display: inline-block; min-width: 215px }
	.iant-hr .table-cell span{ float: left; vertical-align: -webkit-baseline-middle }
	
 }
 @media (max-width:1025px){
 	.form-control-groub .col3{ width: 35% }
	.form-control-groub .col6{ width: 60% }
	.con-title-sec .user-features{ width: 64% }
	#frmLmoManageMembers .con-title-sec .user-features{ width: 60% }
	input,textarea,select{ -webkit-appearance: none;  -webkit-border-radius: 0 }
	.select-custom select{ background: url("../../images/fitclass/cus-drop-arrow.png") no-repeat right center }
 }
@media screen and (orientation:landscape) {
		 	 	 html:before{ display:none;}
				 .pagewrapper{ position:relative; }
 }
 @media screen and (orientation:portrait) {
	 body{ min-width:inherit;}
	 	 html:before{ position:fixed; content:""; top:0; left:0; right:0; bottom:0; background-color:#fff; background-image:url("../../images/ipad-alert.png"); background-repeat:no-repeat; background-position: center center; z-index:99999; text-align:center;}
		 .pagewrapper{ position:fixed;}
 }
 
 /* weekly percentage graph*/
 #week_point_percentage{ height: 250px; width: 250px;}
 
 .sportmed_graph_edit_icons{ border: 1px solid #d1d1d1; 
    margin: 0 auto;
    overflow: hidden;
    width: 182px;}
.sportmed_graph_edit_icons > div{ min-width:35px; border-right:1px solid #d1d1d1; padding:5px}
.sportmed_graph_edit_icons .toggle-icon { border-right:1px solid #fff; padding:0 !important; margin:5px 0 0 10px}
.sportmed_graph_edit_icons > div.up_icon{ border:none; padding-right:0}
.sportmed_graph_edit_icons .edit_graph_action_text{ line-height:30px;}
.sportmed_graph_edit_icons .edit_graph_action_text .icon{ float:left;  margin: 0 5px;}

.trim-txt{ float:left; line-height:30px;  padding: 0 5px;}

.showGraphBtn{ width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  outline: none;
  border: 1px solid #d1d1d1;
  text-indent: -9999px;
  display: block;}
  .showGraphBtn .icon-arrnext{display: block; margin: 1px 0 0 5px !important;}
  .showGraphBtn .icon-arrpre{display: block; margin: 1px 0 0 2px !important;}

 .popup-grap-fit{   clear: both;
  float: left;
}

#fit_graph_display_data .sportmed_graph_edit_icons{ position:relative; top:0;}
.popup-grap-fit{ display: none; }
.zoom_graph_save_analysis_data{ position: relative; top: 0; right: 0; float: left }
#fit_graph_display_data .popup-grap-fit123{ position: relative; right: 0; width: 100%; max-width: 460px; margin: 0 auto }
#fitgraphPopup,#largePopUp{width: 92%; border:1px solid #FFF}
.showGraphBtn{right: 20px;}
 .sportmed_graph_edit_icons{ top: 0 }
.fancybox-inner  {overflow: auto !important; }
#fitgraphPopup, #largePopUp{height: 600px; }
#fitgraphPopup.graph-result { margin-top: 50px;}
.fit_graph_test{ display: none }
#fitnessLevel{ max-width: 40px; margin: 0 10px 0 0 }
#fit_graph_display_data .popup-grap-fit123 > input[type="text"],#fit_graph_display_data .popup-grap-fit123 .reanalyse-arrows,.sportmed_graph_edit_icons,.reanalyse-arrows > div{ float: left; width: auto }
.popup-grap-fit123:after{ content:""; display: block; clear: both }
.action-btn-group .icon_spacer{ margin:0}
.action-btn-group a{ display: inline-block; width: 30px; height: 30px; margin-right: 5px !important; float: left;}
@media screen and ( max-width:1024px) {
	.popup-grap-fit .graph-view-btn{ width:auto;}
	#toggleShowIant{ float:left;}
	.popup-grap-fit{padding-right: 50px;}
	
	#largePopUp, #fitgraphPopup{ height: 450px;}
	#fit_graph_display_data .sportmed_graph_edit_icons{ position:relative; top:0;}
	#fit_graph_display_data .popup-grap-fit123{ position: relative; right: 0; width: auto; margin: 0 0 10px }
	.popup-grap-fit123:after{ content:""; display: block; clear: both }
	.popup-grap-fit123 input[type="text"]{ float: left; max-width: 30px; margin: 0 10px 10px 0 }
	.graph-view-btn{ width: auto }
	.zoom_graph_save_analysis_data{ position: relative; top: 0; right: 0 }
	.graph-view-btn > div,.reanalyse-arrows > div{ float: left; }
	
	.reanalyse-arrows{ width: auto; float: left }
	.popup-grap-fit123 .fit_graph_test{ display: block; }
	#fit_graph_display_data .popup-grap-fit123{ max-width: inherit }
	.zoom_graph_save_analysis_data{ margin-top: 5px }
	#regrCoeff{ max-width: 40px }
}

.header {
	background: #0095ac !important;
	padding: 4px 0;
	height: auto;
	}  

.header .head-left .logo {
	background: none !important;
	}

.header, .com-alert-msg h2, .header .head-left .nav-toggle {
	background: #0095ac !important;
	}
	
.user-set-holder {
	background: #0095AC;
/* 	border : 1px solid #fff; */
	}
	
.set-permission li:hover a{
	color: #fff;
	}
	
.con-title-sec h1 {
	color: #0095ac;
	}
	
.con-title-sec {
	margin-left: 0;
	}
	
ul.tabs li.current, ul.tabs li.current:hover {
	background : #0095AC;
	border: 1px solid #0095AC;
	}
	
ul.tabs {
	border-bottom: 4px solid #0095AC !important;
	}
	
.user-set-holder .row-sec:hover {
	background-color: #0095AC;
	}
	
.popup-header {
	background: #0095AC;
	}
	
.black-btn {
	background: #0095AC;
	}
	
.tabs-container {
	border-color: #0095AC;
	}
	
.con-title-sec h1 .icon {
	margin-left: 10px;
	}
	
body {
	min-width: auto;
	}
	
.grid-block td {
	border-right: 1px solid #0099ac;
	border-top: 1px solid #0099ac;
	height: 20px;
	}

.grid-block {
	border-bottom: 1px solid #0099ac;
	border-left: 1px solid #0099ac;
	overflow-x: scroll;
	}
	
.grid-block .grid-title {
	background-color: rgba(0, 149, 172, 0.75) !important;
	}
	
.grid-block .grid-title td {
	color: #fff;
	}
	
.grid-block tr:nth-child(2n) {
	background-color: #D9EFF3;
	}
	
.right-block {
	margin-left : 10px !important;
	}
	
.member-search-sec {
	background: #ccc !important;
	margin-bottom: 10px;
	padding: 10px !important;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	width: 100%;
	}
	
.pagination .page-list a:hover, .pagination .page-list a.current-page {
	background: #0095ac;
	color: #fff;
	border: 1px solid #0095ac;
	}
	
.hint {
	color: #000 !important;
	}
	
.set-permission li:hover {
	background: #0095ac;
	}
	
/* .set-permission li:hover span.set-icon {
	background: url(../../../images/movesmart/set-permission-hover.png) no-repeat !important;
	} */

#customPopmessage {
	text-align: center;
	}
	
.customMsgBtn {
	float: none !important
	}
	
.nav-toggle {
	display: none !important;
	}
	
.header .head-left .logo {
	box-shadow: none !important;
	}
	
/* .pt100 {
	margin: 0 !important;
	} */
	
.user-photo img {
	width: 100%;
	}
	
.nav-link li.user-set-pointer.current {
	background: none !important;
	}
	
.nav-link li.user-set-pointer .user-lang {
	display: none !important;
	}
	
.user-set-holder .row-sec .col6.left , .user-set-holder .row-sec  .col6.right {
	display: none !important;
	}
	
.user-set-holder .row-sec {
	border-bottom: 0 !important;
	}
	
html::before {
	display: none !important;
	}
	
.user-set-holder .row-sec:first-child {
	display: none !important;
	}
	

.login_feild input, .input_field input, .rs_field input, .textarea_field textarea {
    border-radius: 3px;
    display: inline-block;
    margin: 0 auto;
    min-width: 300px;
    padding: 10px;
}
.login_feild input, .input_field input, .select_field select, .rs_field input, .textarea_field textarea {
    background: rgba(0, 0, 0, 0.06) none repeat scroll 0 0;
    border: medium none;
    color: #194da0;
}
input, img, a, button, img:focus {
    outline: medium none;
    text-decoration: none;
}
input:-moz-read-write, textarea:-moz-read-write {
    -moz-user-modify: read-write !important;
}
input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    cursor: text;
    font: ;
    letter-spacing: normal;
    line-height: normal;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder, *|*::-moz-button-content, *|*::-moz-display-comboboxcontrol-frame, optgroup::before {
    text-overflow: inherit;
    unicode-bidi: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    display: inline-block !important;
    opacity: 0.54;
    overflow: hidden !important;
    pointer-events: none !important;
    resize: none !important;
}
input > .anonymous-div, input::-moz-placeholder {
    white-space: pre;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder {
    -moz-control-character-visibility: visible;
    border: 0 none !important;
    display: inline-block;
    ime-mode: inherit;
    margin: 0;
    overflow: auto;
    padding: inherit !important;
    resize: inherit;
    text-decoration: inherit;
}
input > .anonymous-div, input::-moz-placeholder {
    line-height: -moz-block-height;
    word-wrap: normal !important;
}
body {
    font-family: arial;
}

.user-name h3 { 
	display: none;
	}

.user-name h4 {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
	}
	
.your-profile:hover, .logout:hover {
	color: #fff !important;
	}
	
.member-search-sec {
	margin-top: 10px !important;
	}