<span style='color: #000'>66 frames</span>	<span style='color: #900'>13,824 KB</span>	<span style='color: #090'>58.88 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />