<div style='padding: 0 10px' >
        <img src="{{EMAILTOPLOGO}}" alt='logo' /></div>
<br /><br />
Dear {{FIRSTNAME}} {{LASTNAME}},
<br/><br/><br/>
Thanks for your Adding New Program at MOVESMART.company,
<br /><br />With kind Regards,<br/><br/>MOVESMART.company<br/>
T.+32(0)468 1941 85<br/>
M.<a href='mailto:support@movesmart.company'>support@movesmart.company</a><br/><br/>
<div style='padding:0 10px'>
    <img src="{{EMAILBOTTOMLOGO}}" alt='eatfreshicon' />
</div>MOVESMART.company BV<br/>Kwelkade 1 - 4001 RK Tiel<br/>
M.<a href='http://www.movesmart.company/'>www.MOVESMART.COMPANY</a>
<br/><br/><br/>