<div style="padding: 0 10px" >
    <img src="{{EMAILTOPLOGO}}" alt="logo" />
</div>
<br />
<br />
Beste {{FIRSTNAME}} {{LASTNAME}},
<br /><br /><br />
Hieronder vind je de nieuwe login gegevens<br />
Login :{{EMAIL}} <br />
Password :{{PASSWORD}}
<br /><br /><br />
Met vriendelijke groeten,<br /><br />MOVESMART.company<br />
T.+32(0)468 1941 85<br />
M.<a href="mail:support@movesmart.company">support@movesmart.company</a><br><br>
<div style='padding:0 10px'><img src="{{EMAILBOTTOMLOGO}}" alt='eatfreshicon' /></div><br/><br/>
<br /><br />
MOVESMART.company BV<br />
Kwelkade 1 - 4001 RK Tiel<br />
M.<a href='http://www.movesmart.company/'>www.MOVESMART.COMPANY</a><br /><br /><br />