<div style='padding: 0 10px' >
    <img src="{{EMAILTOPLOGO}}" alt='logo' />
</div>
<br />
<br />
Dear {{CLIENTNAME}}, <br/><br/>The Cardio analysed
Report is attached to print.<br/><br/>
With kind Regards,<br /> Movesmart Team alt='eatfreshicon'/>
<div style='padding:0 10px'><img src="{{EMAILBOTTOMLOGO}}"></div>
MOVESMART.company BV<br />Kwelkade 1 - 4001 RK Tiel<br />
M.<a href='http://www.movesmart.company/'>www.MOVESMART.COMPANY</a><br /><br /><br />